// Футер

.footer {
  padding: 60px 60px;

  background-color: $second-bg-color;

  color: $primary-bg-color;
}

.footer-blocks {
  @include flexbox(space-between, baseline);
  // display: flex;
  // justify-content: space-between;
  // align-items: baseline;
}
