// Футер

.footer {
  padding: 60px 0;

  background-color: $second-bg-color;

  color: $primary-bg-color;
}

.footer-blocks {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  
  // @include flexbox(space-between, baseline);
}
