// Хедер

.header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

// Обёртка для всей навигации

.main-nav {
  @media screen and (max-width: 767px) {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    @include flexbox(space-between, center);

    height: 60px;
  }

  @media screen and (min-width: 768px) {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    @include flexbox(space-between, center);
  }
}
