// Секция Героя

.hero {
  max-width: 1600px;
  min-height: 400px;

  @media screen and (min-width: 1200px) {
    min-height: 600px;
  }

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    padding: 118px 60px;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 118px 204px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px;
  }

  background-color: $second-bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }

  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

// Тайтл Героя

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-bg-color;

  @include font(900, 26px, 1.62);

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.36);
  }

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// Кнопка "Заказать услугу"

.hero__btn {
  padding: 10px 32px;
}
