// Логотип в хедере

.header__logo {
  margin-right: 93px;

  color: $second-text-color;
}

// Меню в хедере

.menu {
  @extend %list;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;

  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: $second-text-color;

  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  // Выделяет и подчеркивает текущий пункт меню

  &--current {
    color: $accent-color;
  }

  &--current::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}
