body {
  background-color: $primary-bg-color;

  color: $primary-text-color;

  font-family: $primary-font;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;    
}

// Убирает лишние отступы у картинок снизу

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
